@import './common.scss';

body {
    margin: 20px;
}
/* Frame */
.frame {
    height: 200px;
    overflow: hidden;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 50px;

        li {
            float: left;
            width: 220px;
            height: 100%;
            margin: 0 5px 0 0;
            padding: 0;
            background: #fff;
            color: #ddd;
            text-align: center;
            cursor: pointer;
        }
        li.active {
            color: #fff;
        }
    }
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;

    .handle {
        width: 100px;
        height: 100%;
        background: #292a33;
        cursor: pointer;

        .mousearea {
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 20px;
        }
    }
}

/* Pages */
.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        @include border-radius(10px);
        cursor: pointer;
        overflow: hidden;
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    }
    li:hover {
        background: #aaa;
    }
    li.active {
        background: #666;
    }
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }


.slide-wrap { 
    position: relative; 

    .controls {
        a.btn { 
            @include border-radius(16px);
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            position: absolute; 
            top: 65px;
        }
        a.prevPage {  left: 0; }
        a.nextPage {  right: 0; }
    }

    .item {
        max-width: 220px;
        img { width: 100%; }

        span.name {
            position: absolute;
            bottom: 80px;
            font-size: 14px;
            color: #fff;
            background: rgba(0,0,0, 0.5);
            padding: 2px 5px;
            max-width: 220px;
        }
        span.subtitle { font-size: 14px; font-weight: normal;  display: block; color: #888; }
        span.title { font-size: 14px; font-weight: bold; display: block; color: #000; }
    }
}